pyside6!=6.9.0 # Qt 6.9.0 crashes on windows due to https://codereview.qt-project.org/c/qt/qtwebengine-chromium/+/634034, will be fixed in 6.9.1 but that's not released yet 
fastkml
folium
bs4
xlwings
rich # for better tracebacks